/* ===================== Headings ===================== */
@page
{
margin:2mm;
}
body
{
	margin-right:24pt;
	font-style:normal;
	font-weight:normal;
	font-size:small;
	orphans:2;
	widows:2;
}
a
{
	text-decoration: none;
}
span.space0
{
	padding-left:1em;
}
span.spacet
{
	padding-left:1em;
}
span.space
{
	padding-left:0.6em;
}
span.spacea
{
	padding-left:0.6em;
}
span.space1
{
	padding-left:1.5em;
}
span.space2
{
	padding-left:2em;
}
span.space3
{
	padding-left:3em;
}
span.space4
{
	padding-left:4em;
}
span.underline
{
	text-decoration: underline;
}
span.bord
{
	border-bottom: 1px solid;
	padding-bottom: 0.2em;
}
span.big
{
        font-size: 130%;
}
span.bigg
{
        font-size: 190%;
}
span.big1
{
        font-size: medium;
}
span.big2
{
        font-size: small;
}
span.fmcolor
{
	color: #6d6e71;
}
span.fmfont
{
	font-size: 160%;
}
span.fmfont1
{
	font-size: small;
}
span.gray
{
	color: #939598;
}
span.gray1
{
	font-size: 130%;
	color: #757575;
}
.half_title
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	font-weight:normal;
	margin-top:6em;
	margin-bottom:2em;
	margin-left:0em;
	text-align: center;
	text-indent:0em;
	line-height: 1.1em;
}
.half_title1
{
	font-family:"Times New Roman", serif;
	font-size:150%;
	font-weight:normal;
	margin-top:2.5em;
	margin-bottom:0em;
	margin-left:0em;
	text-align: center;
	text-indent:0em;
	color: #233e85;
}
h1.bk_title
{
	font-family:"Times New Roman", serif;
	font-size:xx-large;
	font-weight:normal;
	margin-top:2em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
	line-height: 1.1em;

}
.bk_title1
{
	font-family:"Times New Roman", serif;
	font-size:170%;
	font-weight:normal;
	margin-top:0.6em;
	margin-bottom:0em;
	margin-right:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	line-height: 1.1em;
}
.bktitle
{
	font-family:"Times New Roman", serif;
	font-size:150%;
	font-weight:normal;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
}
.bktitle1
{
	font-family:"Times New Roman", serif;
	font-size:190%;
	font-weight:normal;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:center;
	text-indent:0em;
}
.edition
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:2em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
}
.edition1
{
	font-family:"Times New Roman", serif;
	font-size:150%;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
}
.author
{
	font-family:"Times New Roman", serif;
	font-size: small;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
}
.author1
{
	font-family:"Times New Roman", serif;
	font-size: medium;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
}
p.pub
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	margin-top:16em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
}
div.cpybord
{
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 5em;
	margin-bottom: 2em;
	text-indent: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 70%;
}
p.copyt
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:3em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:center;
	text-indent:0em;
	line-height: 1.3em;
}
p.copy
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.1em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:center;
	text-indent:0em;
	line-height: 1.3em;
}
p.copya
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right: 0em;
	text-align:justify;
	text-indent:0em;
	line-height: 1.3em;
}
p.copy1
{
        font-family:"Times New Roman", serif;
        font-size:90%;
        margin-top:0.8em;
        margin-bottom:0em;
        margin-right:0em;
	margin-left:0em;
        text-align:center;
        text-indent:0em;
	line-height: 1.3em;
}
p.copy1a
{
        font-family:"Times New Roman", serif;
        font-size:90%;
        margin-top:0.7em;
        margin-bottom:0em;
        margin-right:0em;
	margin-left:0em;
        text-align:justify;
        text-indent:0em;
	line-height: 1.3em;
}
p.copy2
{
        font-family:"Times New Roman", serif;
        font-size:90%;
        margin-top:2.5em;
        margin-bottom:0em;
        margin-right:0em;
	margin-left:0em;
        text-align:center;
        text-indent:0em;
	line-height: 1.3em;
}
p.copy0
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.6em;
	margin-bottom:0em;
	margin-right:0em;
	margin-left:0em;
	text-align:justify;
	text-indent:0em;
	line-height: 1.3em;
}
p.copy4
{
	font-family:"Times New Roman", serif;
	font-size:80%;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-right:0em;
	margin-left:0em;
	text-align:justify;
	text-indent:0em;
	line-height: 1.3em;
}
p.dedi
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:8em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:center;
	text-indent:0em;
	line-height: 1.3em;
}
p.dedi1
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	margin-top:2em;
	margin-bottom:2.5em;
	margin-left:0em;
	text-align:center;
	text-indent:0em;
}
p.dedi2
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	margin-left:1em;
	text-align:left;
	text-indent:0em;
}
.fmhead
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	margin-top:2em;
	margin-bottom:1em;
	margin-left:0em;
	text-align: justify;
	text-indent:0em;
	font-weight: normal;
}
.fm-head1
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:0.5em;
	margin-bottom:0.3em;
	margin-left:0.6em;
	text-align: left;
	text-indent:0em;
	font-weight: normal;
	line-height: 1.2em;
}
.fm-paraa
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.1em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;	
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-para
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:0.1em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;	
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-para1
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:0.8em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;	
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-para2
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:2.5em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-para3
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:3.5em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-parai
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:1.5em;
	margin-right:1.5em;
	text-align: justify;
	text-indent:1.5em;
	line-height: 1.3em;
}
.fm-paraz
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align: justify;
	text-indent:0em;
	line-height: 1.3em;
}
.fm-right
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.8em;
	margin-bottom:2em;
	margin-left:0em;
	text-align: right;
	text-indent:0em;
	line-height: 1.3em;
}
.h2f
{
	font-family:"Times New Roman", serif;
	font-size:150%;
	font-weight:normal;
	text-align: center;
	margin-top:2em;
	margin-bottom:2em;
	margin-left: 0em;
	text-indent:0em;
}
h2.h2f1
{
	font-family:"Times New Roman", serif;
	font-size:x-large;
	font-weight:normal;
	text-align: left;
	margin-top:3em;
	margin-bottom:1em;
	margin-left: 0em;
	text-indent:0em;
}
.toc
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.1em;
	margin-bottom:0em;
	margin-left:1.5em;
	text-align: left;
	text-indent:0em;
	line-height: 1.3em;
}

.toc1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.2em;
	margin-bottom:0em;
	margin-left:0em;
	text-align: left;
	text-indent:0em;
	line-height: 1.3em;
}
.toc1a
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	margin-left:1.75em;
	text-align: left;
	text-indent:0em;
	line-height: 1.3em;
}
.toc2
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:4.2em;
	text-align: left;
	text-indent:-2.5em;
	line-height: 1.3em;
}
.toc3
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:2.5em;
	text-align: left;
	text-indent:-2.5em;
	line-height: 1.3em;
}
.part_num
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	text-align: center;
	margin-top:5em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight: normal;
}
.part_title
{
	font-family:"Times New Roman", serif;
	font-size: 210%;
	text-align:center;
	margin-top:2.5em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight: normal;
	line-height: 1.2em;
}
.part_title1
{
	font-family:"Times New Roman", serif;
	font-size: small;
	text-align:left;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
div.partdiv
{
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 0em;
	padding: 1em;
	background-color: #f1f1f1;
}
.part_para
{
	font-family:"Times New Roman", serif;
	font-size: small;
	text-align:center;
	margin-top:3em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
.part_para1
{
	font-family:"Times New Roman", serif;
	font-size: small;
	text-align:right;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-right: 8em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
.chnum
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	text-align: right;
	margin-top:3em;
	margin-bottom:0em;
	margin-left: 0em;
	margin-right: 0em;	
	text-indent:0em;
	font-weight: normal;
	letter-spacing: 2px;
}
.chtit
{
	font-family:"Times New Roman", serif;
	font-size:130%;
	font-weight:normal;
	text-align: center;
	margin-top:5em;
	margin-bottom:1.5em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent:0em;
	line-height:1.3em;
}
.fmtit
{
	font-family:"Times New Roman", serif;
	font-size:130%;
	font-weight:normal;
	text-align: center;
	margin-top:2.5em;
	margin-bottom:2em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent:0em;
	line-height:1.3em;
}
.h2ca
{
	font-family:"Times New Roman", serif;
	font-size: 110%;
	text-align:center;
	margin-top:0em;
	margin-bottom:3em;
	margin-left: 0em;
	margin-right: 0em;	
	text-indent:0em;
	font-weight: normal;
}
.ch-aut
{
	font-family:"Times New Roman", serif;
	font-size: small;
	text-align:center;
	margin-top:0.1em;
	margin-bottom:0em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent:0em;
	font-weight:normal;
	line-height: 1.3em;
}
.ch-autt
{
	font-family:"Times New Roman", serif;
	font-size: small;
	text-align:center;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
	line-height:1.3em;
}
.chap_auta
{
	font-family:"Times New Roman", serif;
	font-size: 90%;
	text-align:justify;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
.chp_poem
{
	font-family:"Times New Roman", serif;
	font-size: 90%;
	text-align:left;
	margin-top:1.5em;
	margin-bottom:0em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
.chp_poema
{
	font-family:"Times New Roman", serif;
	font-size: 90%;
	text-align:left;
	margin-top:0.5em;
	margin-bottom:2.5em;
	margin-left: 0em;
	text-indent:0em;
	font-weight:normal;
}
.chap_num
{
	font-family:"Times New Roman", serif;
	font-size: medium;
	text-align:center;
	margin-top:3em;
	margin-bottom:0em;
	margin-left: 0em;
	margin-right: 0em;
	text-indent:0em;
	font-weight:normal;
}
.bm_title
{
	font-family:"Times New Roman", serif;
	font-size:x-large;
	font-weight: normal;
	text-align:center;
	margin-top:3em;
	margin-bottom:2em;
	margin-left: 0em;
	text-indent:0em;
}
h2.bm_title1
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	font-weight: normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:0.7em;
	margin-left: 0em;
	text-indent:0em;
}
p.noindent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.2em;
	margin-bottom:0em;
	text-align:justify;
	margin-left:0em;
	text-indent:0em;
	line-height: 1.3em;
}
p.noindent1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	line-height: 1.3em;
}
p.indent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:1.5em;
	line-height: 1.3em;
}
p.indent1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:1.5em;
	line-height: 1.3em;
}
p.center
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.4em;
	margin-bottom:1.4em;
	text-align:center;
	margin-right: 0em;
	margin-left: 0em;
	text-indent:0em;
}
p.centert
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:1em;
	text-align:center;
	margin-right: 0em;
	margin-left: 0em;
	text-indent:0em;
}
p.center1
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	margin-top:3em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
p.center2
{
	font-family:"Times New Roman", serif;
	font-size:160%;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
p.center3
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:10em;
	margin-bottom:0.5em;
	text-align:center;
	text-indent:0em;
}
p.center4
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
p.center5
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	margin-top:15em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
p.bibhead
{
	font-family:"Times New Roman", serif;
	font-size:medium;
	margin-top:1.3em;
	margin-bottom:0.5em;
	text-align:justify;
	margin-left: 0em;
	text-indent:0em;
}
p.biblo
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align:justify;
	margin-left: 1.5em;
	text-indent:-1.5em;
}
.h3color
{
	border-bottom: 12px solid #a7a9ac;
	margin-bottom: 0.1em;
	margin-top: 1.5em;
	width: 90px;
}
.h3
{
	font-family:"Times New Roman", serif;
	font-size: 130%;
	font-weight:normal;
	padding-top: 3em;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:2em;
	text-align:right;
	text-indent:0em;
	page-break-before: always;
}
.h3a
{
	font-family:"Times New Roman", serif;
	font-size: 120%;
	font-weight:normal;
	margin-top:1.7em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
.h3b
{
	font-family:"Times New Roman", serif;
	font-size: 120%;
	font-weight:normal;
	margin-top:0em;
	padding-top: 1.5em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	page-break-before: always;
}
.h4color
{
	border-bottom: 6px solid #a7a9ac;
	margin-bottom: 0.1em;
	margin-top: 1.5em;
	width: 80px;
}
.h4
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:0.5em;
	margin-left:2.55em;
	text-align:left;
	text-indent:-2.55em;
}
h4.h4a
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	font-weight:normal;
	margin-top:0.8em;
	margin-bottom:0.5em;
	margin-left:2.45em;
	text-align:left;
	text-indent:-2.45em;
}
h4.h4c
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	font-weight:normal;
	margin-top:0.7em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
.h5
{
	font-family:"Times New Roman", serif;
	font-size:100%;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:0.6em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
h5.h5a
{
	font-family:"Times New Roman", serif;
	font-size:100%;
	font-weight:normal;
	margin-top:0.8em;
	margin-bottom:0.6em;
	margin-left:2.95em;
	text-align:left;
	text-indent:-2.95em;
}
div.box
{
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 0em;
	padding: 1em;
	border: 4px double; 
}
div.box1
{
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	text-indent: 0em;
	padding: 1em;	
	background-color: #233e85;
	
}
div.box2
{
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	text-indent: 0em;
	padding: 1em;
	border: 2px solid #233e85; 
}
div.box3
{
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	text-indent: 0em;
	padding: 0.7em;	
	background-color: #ffffff;
	
}
.side-head
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:2em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	font-weight: bold;
	color: #ffffff;
}
.side-headr
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:2em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	font-weight: bold;
	color: #ffffff;
}
span.side
{
	background-color: #231f20;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 7em;
}
.side-head1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px solid;
}
.side-head2
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px solid;
}
span.side1
{
	background-color: #231f20;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 7em;
}
span.sider
{
	background-color: #231f20;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 7em;
	padding-right: 0.7em;
}
span.side2
{
	background-color: #231f20;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #ffffff;
	font-size: 90%;
}
span.side3
{
	background-color: #939598;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #ffffff;
	font-size: 90%;
}
.box-head
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0.5em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;	
	font-weight: bold;
}
.box-head1
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	margin-top:1.5em;
	margin-bottom:0.3em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	font-weight: bold;
}
p.box-paras
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.4em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-right: 0em;
	margin-left: 0em;
}
p.box-para
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-right: 0em;
	margin-left: 0em;
	color: #ffffff;
}
p.box-parai
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:1.3em;
	margin-right: 0em;
	margin-left: 0em;
}
p.box-para1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.box-para2
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.6em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:1.3em;
	margin-left: 0.7em;
	margin-right: 0em;
}
p.symb_list
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.2em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:1.9em;
	text-align:justify;
	text-indent:-0.95em;
}
.box-list
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -0.95em;
        margin-left: 0.95em;
	margin-right: 0em;
}
.box-list1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.4em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -1.6em;
        margin-left: 1.6em;
}
.hyp_list
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -1.15em;
        margin-left: 3.45em;
}
.hyp_lista
{
	font-family:"Times New Roman", serif;
	font-size:110%;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: 0em;
        margin-left:0em;
	font-weight: bold;
}
.hyp_list1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -1.2em;
        margin-left: 3em;
}
.ftline
{
border-bottom:solid 1px;
width:120px;
margin-left:0em;
margin-top:5em;
margin-bottom:0.2em;
}
.ftline1
{
border-bottom:solid 1px;
width:120px;
margin-left:0em;
margin-top:1.2em;
margin-bottom:1em;
}

.line
{
border-top:dashed 1px;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
}
.lined
{
border-bottom:dotted 3px #636466;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1.5em;
}
div.blockd
{
	margin-left:0em;
	margin-right:0em;
	margin-top: 1em;
	margin-bottom: 1em;
}
p.block
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1.7em;
        text-align:justify;
	text-indent: 0em;
	margin-right:1.7em;
}
p.block1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:1.2em;
	margin-bottom:0em;
	margin-left:1.5em;
        text-align:justify;
	text-indent: 0em;
	margin-right:1.5em;
}
p.block2
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:1.5em;
        text-align:justify;
	text-indent: 0em;
	margin-right:1.5em;
}
p.block2a
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:1.5em;
        text-align:justify;
	text-indent: 1.3em;
	margin-right:1em;
}
p.footnote
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.3em;
	margin-bottom:0em;
	margin-left:1.45em;
	text-align:justify;
	text-indent:-1.45em;
}
p.footnote1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.3em;
	margin-bottom:0em;
	margin-left:1.95em;
	text-align:justify;
	text-indent:-1.95em;
}
p.footnote2
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.3em;
	margin-bottom:0em;
	margin-left:1.95em;
	text-align:justify;
	text-indent:-1.4em;
}
div.sym_list
{
	margin-top:1.2em;
	margin-right:0em;
	margin-bottom:1.2em;
	padding:0em;
	margin-left:2.6em;
}
p.sym_list
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.4em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:0.95em;
	text-align:justify;
	text-indent:-0.95em;
}
p.sym_list1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:2.3em;
	text-align:justify;
	text-indent:-1em;
}
p.num_list
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:2.85em;
	text-align:justify;
	text-indent:-1.55em;
}
p.num_list1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.4em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:2.8em;
	text-align:justify;
	text-indent:-1.4em;
}
p.num_listp
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.4em;
	margin-right:0em;
	margin-bottom:0em;
	margin-left:2.85em;
	text-align:justify;
	text-indent:0em;
}
p.source
{
	font-family:"Times New Roman", serif;
	font-size:80%;
	margin-top:0em;
	margin-bottom:1.8em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.source1
{
	font-family:"Times New Roman", serif;
	font-size:80%;
	margin-top:0em;
	margin-bottom:0.2em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab_caption
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:1.5em;
	margin-bottom:0em;
	margin-right: 0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
	page-break-after: avoid;
		
}
p.fig_caption
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-right: 0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
	font-weight: normal;
		
}
p.fig_caption1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:1em;
	margin-right: 0em;
	margin-left:0em;
	text-align:justify;
	text-indent:0em;
	font-weight: normal;
		
}
div.ind
{
	margin-left:1.2em;
	margin-right:0em;
	margin-top: 1.2em;
	margin-bottom: 0em;
}
p.ind1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-right:1.4em;
	margin-bottom:0em;
	margin-left:1.2em;
	text-align:justify;
	text-indent:-1.2em;
}
p.bmheadl
{
	font-family:"Times New Roman", serif;
	font-size:170%;
	margin-top:0em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: normal;
	color: #233e85;
}
p.bmhead
{
	font-family:"Times New Roman", serif;
	font-size:120%;
	margin-top:3em;
	margin-bottom:1.5em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: normal
}
p.bmtext
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtext1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtexts
{
	font-family:"Times New Roman", serif;
	font-size:x-small;
	margin-top:1.2em;
	margin-bottom:1.2em;
	text-align:center;
	text-indent:0em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	font-weight: normal;
	line-height:1.3em;
}
p.bmtext3
{
	font-family:"Times New Roman", serif;
	font-size:140%;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtextn
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtextna
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtextn1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.bmtextl
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:-0.95em;
	margin-left: 0.95em;
	margin-right: 0em;
}
p.left-para
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 2.25em;
}
p.left-para1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
}
p.right-para
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.4em;
	margin-bottom:0.7em;
	text-align:right;
	text-indent:0em;
	margin-right: 0em;
}
p.right-para1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.7em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	margin-right: 0em;
}
div.bulllist
{
	margin-left:0em;
	margin-right:0em;
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: 1.5px dotted #636363;
	border-top: 1.5px dotted #636363;
	padding: 0.5em;
}
.bull_list
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:left;
	text-indent: -1.3em;
        margin-left: 2.75em;
	line-height:1.3em;
}
.bull_list1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.4em;
	margin-bottom:0em;
	text-align:left;
	text-indent: -1.3em;
        margin-left: 2.75em;
	line-height:1.3em;
}
.bull_listp
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: 1.3em;
        margin-left: 2.75em;
}
.arr_list
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -1.3em;
        margin-left: 4.1em;
}
.alp_list1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1.2em;
	margin-bottom:0em;
	text-align:justify;
	text-indent: -1.25em;
        margin-left: 1.25em;
}
.pagebreak
{
		page-break-before:always;
}
p.image
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:7em;
	margin-left:0em;
	margin-bottom:0em;
	text-align: center;
	text-indent:0em;
}
p.imagep
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
p.imagec
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-left:0em;
	margin-bottom:2.3em;
	text-align: center;
	text-indent:0em;
}
p.imagecc
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:2em;
	margin-left:0em;
	margin-bottom:0em;
	text-align: center;
	text-indent:0em;
}
p.imager
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:1em;
	text-align:right;
	text-indent:0em;
}
p.image1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
}
p.image2
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:12em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
}
p.image3
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
}
table.tab1
{
	margin-top:8em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
table.tab2
{
	margin-top:5em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	text-align:justify;
	text-indent:0em;
}
table.tab3
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.3em;
	margin-bottom:0.5em;
	margin-left:2em;
	margin-right:0em;
	text-align:left;
	text-indent:0em;
}
p.tab-head
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.2em;
	margin-bottom:0.2em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-left
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-lefta
{
	font-family:"Times New Roman", serif;
	font-size:80%;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-left1
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-left2
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:1.3em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-center
{
	font-family:"Times New Roman", serif;
	font-size:90%;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-center1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.tab-right
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.1em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0.8em;
	padding: 0.1em;
}
p.tab-right1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.8em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	margin-left: 0em;
	margin-right: 0.8em;
	padding: 0.1em;
}
td.border1
{
	border-left: 0px solid;
	border-right: 0px solid;
	border-top: 1px solid;
	border-bottom: 0px solid;
}
td.border2
{
	border-left: 0px solid;
	border-right: 0px solid;
	border-top: 0px solid;
	padding-bottom: 0.5em;
	border-bottom: 1px solid;
}
td.border4
{
	border-left: 0px solid;
	border-right: 0px solid;
	border-top: 0px solid;
	border-bottom: 1px solid;
}
td.border5
{
	border-left: 0px solid;
	border-right: 1px solid;
	border-top: 0px solid;
	border-bottom: 1px solid;
}
td.border6
{
	border-left: 3px solid;
	border-right: 1px solid;
	border-top: 3px solid;
	border-bottom: 1px solid;
}
td.border7
{
	border-left: 0px solid;
	border-right: 1px solid;
	border-top: 3px solid;
	border-bottom: 1px solid;
}
td.border8
{
	border-left: 0px solid;
	border-right: 3px solid;
	border-top: 3px solid;
	border-bottom: 1px solid;
}
td.border9
{
	border-left: 0px solid;
	border-right: 1px solid;
	border-top: 0px solid;
	border-bottom: 1px solid;
}
td.border10
{
	background-color: #dfdfdf;
}
.hrline
{
margin-left:0em;
margin-top:0em;
margin-bottom:0em;
border-bottom: 1px solid;
}
.hrline1
{
margin-left:0em;
margin-top:0em;
margin-bottom:0em;
border-top: 1px solid;
}
.hrline2
{
margin-left:0em;
margin-top:0em;
margin-bottom:0em;
border-bottom: 1px solid;
}
sup
{font-size: x-small;}
div.leftside
{
	margin-left: 0em;
	margin-right: 3em;
	margin-top: 0em;
	margin-bottom: 3.5em;
	text-indent: 0em;
}
img
{
	max-width: 100%;
	max-height: 100%;
}